@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin.scss";

.ag-theme-custom-angular {
  @include ag-theme-balham((
    odd-row-background-color: #f2f8f2,
    row-border-color: transparent,
    row-hover-color: null,
    checkbox-checked-color: #2661ad,
    range-selection-border-color: #2e79b9,
    range-selection-background-color: #03305633,
    header-background-color:#2e79b9,  
    header-foreground-color:#f2f8f2,
    data-color: #333
  ));

  .ag-menu-option-active {
    background-color: #2661ad;
    color: white;
  }
}
